<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>条件渲染指令</title>
</head>
<body>
  <div id="app">
    v-if后接的是等号:，等号后的内容必须是布尔值<br>
    v-id的基本用法:
    <p v-if="6<3">{{apple}}</p>
    <p v-else-if="9>5">{{pineapple}}</p>
    <p v-else>{{banana}}</p> <!--banana不会渲染出来-->
    <hr>

    v-if的实例用法：对不想让其复用的标签或者元素，加入key即可<br>
    需求：点击按钮，实现用户名输入框和密码输入框的切换<br>
    <div>
      <div v-if="type==='name'">
          UserName: <input type="text" key="name" placeholder="Please input the username">
      </div>
      <div v-else>
          Password: <input type="text" key="psd" placeholder="Please input the password">
      </div>
      <button v-on:click="toggleType">toggleType</button>
    </div>
    <hr>

    v-show用法: 显现与否，取决于布尔值
    <p v-show="9>5">我被渲染</p>

  </div>

  <!--环境搭建-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el:'#app',
      data:{
        apple:'apple',
        banana:'banana',
        pineapple:'pineapple',
        type:'name'
      },
      methods:{
        toggleType:function(){
          //三目运算符
          this.type = (this.type==='name' ? 'password' : 'name')
        }
      }
    })
  </script>
</body>
</html>